#############################################################
## SGI
#############################################################

Port sgi32 {
  system = sgi32
  format = static
  os = 6.5
  compiler = 7.3
  cc = /bin/CC73
  archoptions = -n32 -mips3 
  liboptions = -ptused -multigot -OPT:Olimit=7000 -OPT:IEEE_NaN_inf=ON
  exoptions = -OPT:Olimit=7000 
  debug = -O3
  ldoptflags = -lm
  ldmtflags = -lpthread
  mtflags = -DILOUSEMT -D_SGI_MP_SOURCE
  DeliveryComment = format library is static_n32
  DeliveryComment = -n32 -mips3 options (32 bits word size)
  Builton = IRIX64 darwin 6.5-ALPHA-1286374620 04100630 IP27
  Builtwith = MIPSpro Compilers: Version 7.3.1.1m
}

Port sgi64 from sgi32 {
  format = static
  system = sgi64
  archoptions = -mips4 -DSGI64 -64 
  DeliveryComment = format library is static
  DeliveryComment = -mips4 -64 options (64 bits word size)
}

#############################################################
## Ultrasparcs	
#############################################################

Port ultra542 {
  system = ultrasparc
  format = static_pic_mt
  os = 2.6
  compiler = 4.2
  portdir = ultrasparc_5_4.2
  cc = /opt/SUNWspro/bin/CC4.2
  archoptions = -pto -PIC -xtarget=ultra -xarch=v8plus 
  liboptions = +w +w2
  exoptions = +w
  debug = -xO2
  ldoptflags = -lsocket -lnsl -lm -lsunmath
  ldmtflags = -mt
  mtflagsilm = -DILM_REENTRANT
  mtflags = -DILOUSEMT -mt
  DeliveryComment = format library is static_pic_mt
  DeliveryComment = -xtarget=ultra -xarch=v8plus options
  builton =  SunOS crimee 5.6 Generic_105181-11 sun4u sparc SUNW,Ultra-1
  builtwith = CC4.2: WorkShop Compilers 4.2 30 Oct 1996 C++ 4.2
}

Port ultra550 from ultra542 {
  os = 2.7
  compiler = 5.1
  portdir = ultrasparc_5_5.0
  cc = /opt/SUNWspro/bin/CC5.1
  archoptions = -pto -PIC -xtarget=ultra -xarch=v8plusa -DIL_STD
  debug = -xO4
  DeliveryComment = format library is static_pic_mt
  DeliveryComment = -xtarget=ultra -xarch=v8plusa options
  builton = SunOS creteil 5.7 Generic sun4u sparc SUNW,Ultra-5_10
  builtwith = CC5.1: Sun WorkShop 6 2000/04/07 C++ 5.1
}

Port ultra64 from ultra550 {
  system = ultrasparc64
  portdir = ultrasparc64_5_5.0
  archoptions = -pto -PIC -xtarget=ultra -xarch=v9 -DIL_STD
  debug = -xO4
  DeliveryComment = format library is static_pic_mt
  DeliveryComment = -xtarget=ultra -xarch=v9 options (64 bits)
  Builton = SunOS jaures 5.7 Generic_106541-12 sun4u sparc SUNW,Ultra-60
  Builtwith = CC5.1: Sun WorkShop 6 2000/04/07 C++ 5.1
}

#############################################################
## Sparcs	
#############################################################

Port sparc542 from ultra542 {
  system = sparc
  portdir = sparc_5_4.2
  archoptions = -pto -PIC 
  debug = -O
  DeliveryComment = format library is static_pic_mt
}

Port sparc550 from ultra550 {
  system = sparc
  compiler = 5.0
  portdir = sparc_5_5.0
  cc = /opt/SUNWspro/bin/CC5.0
  archoptions = -pto -PIC -DIL_STD
  debug = -O
  DeliveryComment = format library is static_pic_mt
  builton = SunOS crimee 5.6 Generic_105181-23 sun4u sparc SUNW,Ultra-1
  builtwith = CC5.0: WorkShop Compilers 5.0 98/12/15 C++ 5.0
}

Group sparc {
  ports = sparc550 ultra64 ultra550
  portclass = solaris
  tarz = sim.solaris.tar.gz
  OSname = Solaris
  Hardware = sparc
  Compiler = Sun C++
  delivery = delivery.solaris
}

#############################################################
## linux
#############################################################

Group linux {
  ports =  linux22gcc3 linux22gcc3static linux21 linux21static
  portclass = linux
  OSname = Redhat Linux
  Hardware = PC
  Compiler = egcs
}

Port linux21 {
  system = i86_linux
  format = static_pic_mt
  os = 6.1
  compiler = 1.1.2
  portdir = i86_linux2_glibc2.1_egcs1.1
  cc = /usr/bin/g++
  archoptions = -fPIC
  liboptions = -Wall -fexceptions -ffloat-store -pedantic
  exoptions = -Wall
  debug = -O6 -fexpensive-optimizations
  ldmtflags = -lpthread
  mtflagsilm = -DILM_REENTRANT -D_REENTRANT
  mtflags = -DILOUSEMT
  DeliveryComment = run on redhat linux 6.1 and suse linux 6.3
  DeliveryComment = format library is static_pic_mt
  builton = Linux redhat61 2.2.17 #1 SMP Tue Sep 5 08:05:05 CEST 2000 i686 unknown
  builtwith = gcc version egcs-2.91.66 19990314/Linux (egcs-1.1.2 release)
}

Port linux21static from linux21{
  portdir = i86_linux2_glibc2.1_egcs1.1
  format = static_mt
  archoptions = 
  DeliveryComment = run on redhat linux 6.1 and suse linux 6.3
  DeliveryComment = format library is static_mt
}

Port linux22gcc3 from linux21 {
  os = 7.1
  compiler = gcc3.0
  portdir = i86_linux2_glibc2.2_gcc3.0
  cc = /usr/bin/g++3
  archoptions = -fPIC -DIL_STD
  liboptions = -Wall -fexceptions -ffloat-store -pedantic
  exoptions = 
  debug = -O1
  DeliveryComment = run on redhat linux 7.1
  builton = Linux foster1 2.4.7-2.9smp #1 SMP Fri Aug 24 13:08:40 EDT 2001 i686 unknown
  builtwith = gcc version 3.0.1 20010807 (Red Hat Linux 7.1 3.0-6)
}

Port linux22gcc3static from linux22gcc3 {
  portdir = i86_linux2_glibc2.2_gcc3.0
  format = static_mt
  archoptions = -DIL_STD
  DeliveryComment = run on redhat linux 7.1
  builton = Linux foster1 2.4.7-2.9smp #1 SMP Fri Aug 24 13:08:40 EDT 2001 i686 unknown
  builtwith = gcc version 3.0.1 20010807 (Red Hat Linux 7.1 3.0-6)
}

#############################################################
## msvc
#############################################################

Port dll_md5 {
  system = msvc5
  format = dll_md
  libfilename = sim.lib
  portdir = msvc5
  archoptions = ?
  liboptions = /W3 /GX /Zm500 /D_WINDOWS
  diff = -diff 
  builton = bruxelles
  builtwith = mscv
  Compiler = 12.00.8804
}
Port dll_mda5 from dll_md5 {
  system = msvc5
  format = dll_mda
  portdir = msvc5
  archoptions = ? /DIL_STD
}
Port stat_md5 from dll_md5 {
  system = msvc5
  format = stat_md
  portdir = msvc5
  archoptions = /MD
  mtflagsilm = -DILM_REENTRANT
  mtflags = -DILOUSEMT
}
Port stat_mda5 from stat_md5 {
  system = msvc5
  format = stat_mda
  portdir = msvc5
  archoptions = /MD /DIL_STD
}
Port stat_mt5 from stat_md5 {
  system = msvc5
  format = stat_mt
  portdir = msvc5
  archoptions = /MT
}
Port stat_mta5 from stat_mt5 {
  system = msvc5
  format = stat_mta
  portdir = msvc5
  archoptions = /MT /DIL_STD
}
Port stat_st5 from dll_md5 {
  system = msvc5
  format = stat_st
  portdir = msvc5
  archoptions = /ML
}
Port stat_sta5 from stat_st5 {
  system = msvc5
  format = stat_sta
  portdir = msvc5
  archoptions = /ML /DIL_STD
}

Port dll_mda6 from stat_md5 {
  system = msvc6
  format = dll_mda
  portdir = msvc6
  archoptions = ? /DIL_STD
}
Port stat_md6 from dll_md5 {
  system = msvc6
  format = stat_md
  portdir = msvc6
  archoptions = /MD
  mtflagsilm = -DILM_REENTRANT
  mtflags = -DILCUSEMT
}
Port stat_mda6 from stat_md5 {
  system = msvc6
  format = stat_mda
  portdir = msvc6
  archoptions = /MD /DIL_STD
}
Port stat_mt6 from stat_md5 {
  system = msvc6
  format = stat_mt
  portdir = msvc6
  archoptions = /MT
}
Port stat_mta6 from stat_md5 {
  system = msvc6
  format = stat_mta
  portdir = msvc6
  archoptions = /MT /DIL_STD
}
Port stat_st6 from dll_md5 {
  system = msvc6
  format = stat_st
  portdir = msvc6
  archoptions = /ML
}
Port stat_sta6 from stat_st5 {
  system = msvc6
  format = stat_sta
  portdir = msvc6
  archoptions = /ML /DIL_STD
}

Group msvc {
  ports = stat_md6 stat_mt6 stat_st6 stat_mda6 stat_mta6 stat_sta6
  label = nt386
  libfilename = sim.lib
  delivery = delivery.msvc
  tarz = sim01wintel.exe
  builton = bruxelles
  builtwith = mscv
  OSname = windows 2000
  compiler = msvc
  type = msvc
  doc = to be done
  validate = execute setup.
  validate = Build all examples in examples directory for
  validate = msvc6 ports.
}

Group msvc5 {
  ports = stat_md5 stat_mt5 stat_st5 stat_mda5 stat_mta5 stat_sta5
  label = nt386
  libfilename = sim.lib
  delivery = delivery.msvc5
  tarz = sim01msvc5.exe
  builton = bruxelles
  builtwith = mscv
  OSname = windows 2000
  compiler = msvc
  type = msvc
  doc = to be done
  validate = execute setup.
  validate = Build all examples in examples directory for
  validate = msvc5 ports.
}

Port ia64_stat_sta6 from stat_sta6 {
  system =ia64_win64_vc6
  portdir = ia64_win64_vc6
  ldoptflags = /INCREMENTAL:NO wsock32.lib user32.lib advapi32.lib
  archoptions = /ML /DIL_STD
  liboptions = /W3 /GX /Zm1000 /D_WINDOWS
}
Port ia64_stat_mta6 from stat_mta6 {
  system =ia64_win64_vc6
  portdir = ia64_win64_vc6
  ldoptflags = /INCREMENTAL:NO wsock32.lib user32.lib advapi32.lib
  archoptions = /MT /DIL_STD
  liboptions = /W3 /GX /Zm1000 /D_WINDOWS
}
Port ia64_stat_mda6 from stat_mda6 {
  system =ia64_win64_vc6
  portdir = ia64_win64_vc6
  ldoptflags = /INCREMENTAL:NO wsock32.lib user32.lib advapi32.lib
  archoptions = /MD /DIL_STD	
  liboptions = /W3 /GX /Zm1000 /D_WINDOWS
}

Group ia64msvc {
  ports =  ia64_stat_sta6  ia64_stat_mta6  ia64_stat_mda6
  label = nt ia64
  delivery = delivery.ia64msvc
  tarz = sim01wintel.ia64.exe
  type = msvc
  doc = to be done
  validate = execute setup.
  validate = Build all examples in examples directory for
  validate = ia64_win64_vc6 ports.
}

#################################################################
## HP
#################################################################

Port hp32 {
  system = hp32
  format = static_pic
  os = 11
  osversion = 11.x
  compiler = 3.15
  cc = /bin/aCC3.15
  archoptions = +Z +DAportable
  liboptions = +w +W400,495,361,655,392,684,818
  exoptions =
  debug = -O
  ldmtflags = -lpthread
  mtflagsilm = -DILM_REENTRANT
  mtflags = -DILOUSEMT -D_REENTRANT
  DeliveryComment = 32 bits word size
  Builton = HP-UX marceau B.11.00 A 9000/785 2005386167 two-user license
  Builtwith = HP ANSI C++ B3910B A.03.15

  comment = Compile with maximum of warnings/suggestions except:
  comment = Suggestion 400: Passing an object with a copy constructor
  comment =                 or virtual function to a function with variable arguments 
  comment =                 has undefined behavior. Object will be copied onto the 
  comment =                 stack instead of using a constructor
  comment = Suggestion 495: The linkage directive is ignored for an object or
  comment =                 function declared static.
  comment = Suggestion 361: Value-returning function might end without executing a
  comment =                 return statement.
  comment = Suggestion 655: Class without any non-inline, non-pure virtual
  comment = Suggestion 392: Conversion unnecessary
  comment = Suggestion 818: Type X is larger than type Y, truncation may result

  usercomment = NOTE: compilation flag +Onoloopunroll is a work-around for a bug of
  usercomment = HP aCC compiler in versions A.03.13 and A.03.15 If you compile with
  usercomment = another version of the aCC compiler, this option is not useful.
}

Port hp64 from hp32 {
  system = hp64
  format = static
  compiler = 3.15
  cc = /bin/aCC3.15
  archoptions = +DA2.0W
  DeliveryComment = 64 bits word size

  usercomment = NOTE: compilation flag +Onoloopunroll is a work-around for a bug of
  usercomment = HP aCC compiler in versions A.03.13 and A.03.15 If you compile with
  usercomment = another version of the aCC compiler, this option is not useful.
}

port hp32_pa8000 from hp32 {
  system = hp32_pa8000
  format = static_pic
  compiler = 3.15
  cc = /bin/aCC3.15
  archoptions = +DA2.0
  DeliveryComment = PA8000 architecture, 32 bits word size

  usercomment = NOTE: compilation flag +Onoloopunroll is a work-around for a bug of
  usercomment = HP aCC compiler in versions A.03.13 and A.03.15 If you compile with
  usercomment = another version of the aCC compiler, this option is not useful.
}


port hp32AA from hp32 {
  compiler = 3.30
  cc = /bin/aCC3.30
  archoptions = +Z +DAportable -AA -DIL_STD
  format = static_pic_mt_AA
  mtflags = -DILOUSEMT 	-mt
  ldmtflags = 
}

port hp32_pa8000AA from hp32_pa8000 {
  compiler = 3.30
  cc = /bin/aCC3.30
  archoptions = +DA2.0 -AA -DIL_STD
  format = static_pic_mt_AA
  mtflags = -DILOUSEMT -mt
  ldmtflags = 
}

port hp64AA from hp64 {
  compiler = 3.30
  cc = /bin/aCC3.30
  archoptions = +DA2.0W -AA  -DIL_STD
  format = static_mt_AA
  mtflags = -DILOUSEMT -mt
  ldmtflags = 
}

Group hp {
  ports = hp32 hp64 hp32_pa8000
  portclass = hp
  delivery = delivery.hp
  OSname = HP/UX
  Hardware = HP ALL
  Compiler = HP aCC
}



#################################################################
## Alpha
#################################################################

Port alpha {
  system = alpha
  format = static
  os = 4
  compiler = 6.2
	# for the delivery text...
  osversion = 4.0
  cc = cxx
  archoptions = -noinline_auto -ieee -fprm d -noansi_alias -tlocal
  liboptions = 
  exoptions =
  debug = -O
  ldmtflags =
  mtflags =
  ldoptflags = -lm
  Builton = OSF1 rueil V4.0 878 alpha
  Builtwith = DEC C V5.6-071 on Digital UNIX V4.0 (Rev. 878)

}

Group alpha {
  ports = alpha
  OSname = OSF-1
  Hardware = Alpha
  Compiler = DEC C++
}

#################################################################
## RS6000
#################################################################

Port rs6000 {
  system = rs6000
  format = static
  os = 4.3
  compiler = 3.6.7
  portdir = rs6000_4.3_3.6
  cc = /usr/ibmcxx/bin/xlC
  archoptions = -+ -qfloat=nomaf
  liboptions = -w
  exoptions =
  debug = -O
  Builton = AIX picpus 3 4 00427D5B4C00
  Builtwith = Cset++ 3.6.6.7
  comment = On voltaire, use /bin/xlC
  comment = 
  DeliveryComment = 32 bits
}

Port rs6000_64 from rs6000 {
  system = rs6000_64
  format = static
  compiler = 3.6.6.7
  portdir = rs64_4.3_3.6
  cc = /usr/ibmcxx/bin/xlC -q64
  DeliveryComment = 64 bits
  aroptions = -X64
}

Port rs6000_50 from rs6000 {
  compiler = Visual Age 5.0
  portdir = rs6000_4.3_5.0
  cc = /usr/vacpp/bin/xlC
  Builton = AIX picpus 3 4 00427D5B4C00
  Builtwith = VisualAge C++ Professional / C for AIX Compiler, Version 5
}

Port rs6000_50mt from rs6000_50 {
  cc = /usr/vacpp/bin/xlC_r
  portdir = rs6000_4.3_5.0
  format = static_mt
  Builton = AIX picpus 3 4 00427D5B4C00
  Builtwith = Cset++ 5.0
  mtflags = -DILOUSEMT
  mtflagsilm = -DILM_REENTRANT      
}

Port rs6000_50_64 from rs6000_50 {
  system = rs6000_64
  format = static
  compiler = 5.0
  portdir = rs64_4.3_5.0
  cc = /usr/vacpp/bin/xlC -q64
  DeliveryComment = 64 bits
  aroptions = -X64
  Builtwith = VisualAge C++ Professional / C for AIX Compiler, Version 5
  Builton = AIX picpus 3 4 00427D5B4C00
}

Port rs6000_50_64mt from rs6000_50_64 {
  cc = /usr/vacpp/bin/xlC_r -q64
  portdir = rs64_4.3_5.0
  format = static_mt
  mtflags = -DILOUSEMT
  mtflagsilm = -DILM_REENTRANT      
  Builton = AIX picpus 3 4 00427D5B4C00
  Builtwith = Cset++ 5.2.0.2
  aroptions = -X64	
  DeliveryComment = 64b


}

Group rs6000ForOPL {
  ports = rs6000_50mt
  OSname = AIX
  Hardware = rs6000
  Compiler = IBM Cset++
}

Group rs6000 {
  ports = rs6000 rs6000_64 rs6000_50 rs6000_50mt rs6000_50_64 rs6000_50_64mt
  OSname = AIX
  Hardware = rs6000
  Compiler = IBM Cset++
}


#################################################################
## old ports
#################################################################

// -- SGI IRIX 6.4 CC 7.1

Port sgi32_71 {
  system = sgi32
  format = static_n32
  os = 6.4
  compiler = 7.1
  cc = /bin/CC
  archoptions = -n32 -mips3 
  liboptions = -ptused -multigot -OPT:Olimit=6000 -OPT:IEEE_arithmetic=1 -OPT:recip=OFF
# -OPT:IEEE_NaN_inf=ON
  exoptions =
  debug = -O1
  ldoptflags = -lm
  ldmtflags = -lpthread
  mtflagsilm = -DTHREAD_SUPPORT_BUT_ILM_NOT_REENTRANT
  mtflags = -DILCUSEMT -D_SGI_MP_SOURCE
  DeliveryComment = format library is static_n32
  DeliveryComment = -n32 -mips3 options (32 bits word size)
  Builton = IRIX64 darwin 6.5-ALPHA-1286374620 04100630 IP27
  Builtwith = MIPSpro Compilers: Version 7.3.1.1m
}

Port sgi64_71 from sgi32_71 {
  format = static
  system = sgi64
  archoptions = -mips4 -DSGI64 -64 
  liboptions = -ptused -multigot -OPT:Olimit=6000 -OPT:IEEE_arithmetic=1 -OPT:recip=OFF 
# -OPT:IEEE_NaN_inf=ON
  DeliveryComment = format library is static
  DeliveryComment = -mips4 -64 options (64 bits word size)
}
