Product = Sim
ProductShort = sim
Version = 0.1

# PathPrefix will be used, together with the short name of
# the product, and the short version number, to find where
# tarz should be made.
# If this does not fit your need, you can specify a complete
# path using e.g.
#   Path = /nfs/schedule/sim/sim01
#
PathPrefix = /nfs/schedule/sim

# default file name
LibFileName = "libsim.a"

# The leading directory name for the tarz can be automatically
# computed from the short name of the product and the version
# number. But you can also specify it explicitely
#   TarzTopDir = sim01

# Libs this product depends on
#
DependsOn = solver52 concert12

# List of multi-threaded distributed examples (without extension)
# You can specify more than one. Just separate them
# with some spaces.
#
MtExamples = 

##################################################
# Delivered files list
#
# THIS LIST MUST BE THE LAST PART OF THIS FILE,
# after all the options.
#
# Used to know which files to put in a TarZ, and
# also to generate the user's makefiles
##################################################
#
# The following syntax is to be used:
#
#  - '#' as first non-blank character makes the entire line a comment
#
#  - Each line may begin with '+ ' or '- '. Default is '+ '.
#    Note that there must be at least one space after '+' or '-'.
#
#  - Then are one or several file specifications, relative to the
#    root of the product tree. Those can contain wildcards.
#
#  - The order of the different lines is significant: each is 
#    executed when it is read.
#
#  - If the file must be included only for some specific portClass
#    include their names between one pair of parenthesis.
#

+ readme.txt
+ msvc6.txt  (msvc)
+ ia64.txt (ia64msvc)
# relnotes.txt

+ examples/src/*.cpp

+ include/*.h
