body {
    font-size: 100%;
    color: #034a9a;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#header {
    width: 1024px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

div.index {
    background: #fff;
}

div.ecai {
    background: #1b7a62;
}

div.stairs {
    background: #c01829;
}

div.search {
    background: #1b7a62;
 /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFiN2E2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMDE4MjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #1b7a62 0%, #c01829 100%);
 /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1b7a62), color-stop(100%,#c01829));
 /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #1b7a62 0%,#c01829 100%);
 /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #1b7a62 0%,#c01829 100%);
 /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #1b7a62 0%,#c01829 100%);
 /* IE10+ */
    background: linear-gradient(to right,  #1b7a62 0%,#c01829 100%);
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b7a62', endColorstr='#c01829',GradientType=1 );
 /* IE6-8 */
    ;
}

#index {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 0;
}

* html #index {
    /* IE6 fix */
    margin-top: 5px;
}

#content, #searchcontent, #authoridx {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
}

#authoridx {
    margin-top: 75px;
}

* html #content,
* html #authoridx {
    /* IE6 fix */
    margin-top: -15px;
}

#searchcontent {
    margin-top: 100px;
}

* html #searchcontent {
    /* IE6 fix */
    margin-top: 15px;
}

ul.author-index {
    margin: 15px 0 0 0;
    padding-left: 25px;
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

ul.author-index li:hover {
    font-weight: bolder;
}

ul.author-index a:hover {
    text-decoration: underline;
}

ul.ecai {
    border-left: 96px solid #1b7a62;
}

ul.stairs {
    border-left: 96px solid #c01829;
}

span.author {
    font-size: 1.2em;
    display: inline-block;
    width: 474px;
    padding-left: 5px;
}

span.pages {
    display: inline-block;
    width: 150px;
    text-align: right;
    font-size: 0.8em;
}

#index form {
    display: inline;
}

.cover-container {
    width: 510px;
    float: left;
    text-align: center;
}

.form-container {
    margin-top: 15px;
    margin-bottom: 20px;
}

a {
    color: #034a9a;
    text-decoration: none;
    font-size: 1.5em;
}

ul.item-list, ul.section-list {
    margin: 15px 0 0 0;
    padding-left: 20px;
    overflow: auto;
    list-style-type: disc;
}

ul.section-list {
    list-style-type: none;
}

ul.section-list ul {
    max-height: none;
}

ul.item-list li {
    margin: 10px 0 10px 20px;
}

ul.item-list a {
    font-size: 1.1em;
}

ul.item-list a:hover {
    text-decoration: underline;
}

ul.section-list p {
    font-size: 1.5em;
}

span.authors {
    font-size: 0.9em;
    font-style: oblique;
    display: block;
}

#nav,
#alphajump {
    margin: 0;
    padding: 10px 15px 5px 40px;
    float: left;
    font-weight: bold;
    color: white;
}

#alphajump {
    padding: 0px 15px 5px 120px;
}

* html div#alphajump {
    /* IE6 fix */
    padding-right: 20px;
    text-align: right;
}

#nav span {
    font-size: 1.5em;
}

#nav a,
#alphajump a {
    color: #ffffff;
    font-weight: bold;
}

#nav a:hover {
    text-decoration: underline;
}

#content form {
    margin: 0;
    padding: 15px 0 15px 20px;
    height: 25px;
}

#search select {
    margin-top: 2px;
    margin-bottom: 5px;
}

#search {
    float: right;
    text-align: right;
    margin-top: 11px;
    margin-right: 30px;
    margin-bottom: 7px;
}

#no-results {
    text-align: center;
}

#header #query {
    padding: 2px 5px;
    width: 450px;
    opacity: 0.95;
}

.hidden {
    display: none;
}

img {
    border: 0 none;
}

#alphajump {
    float: left;
    color: white;
}

#alphajump a {
    padding: 3px 6px 11px 6px;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 2em;
}

#alphajump a:active {
    background-color: yellow;
}

#alphajump a:hover {
    background-color: black;
}

.ecai #alphajump a:visited {
    color: #dfd;
}

.stairs #alphajump a:visited {
    color: #fdd;
}

a[name] {
    margin-top: -80px;        /* Size of fixed header */
    padding-bottom: 80px; 
    display: block; 
    height: 10px;
}

a[name]+a[name] {
    height: 0px;
}

@media print{

.noprint {
    visibility: hidden;
    display: none;
    }

#header {
    width: 1024px;
    position: absolute;
}
}


@media only screen and (device-width: 768px), only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

/* iPad & iPhone header position fix */
#header {
    position: absolute;
}

}
